@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --transition-speed: 300ms;
}

html, body, #root, .app {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.app {
    display: grid;
    grid-template-rows: 56px 1fr 100px;
    overflow-x: hidden;

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-transparent {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-navbar {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*
 |--------------------------------------------------------------------------
 | Transitions
 |--------------------------------------------------------------------------
 */

/* Base styles */

.transition-container-base {
    /*position: relative;*/
    display: grid;
    /*grid-template-areas: */
    /*        'header header header'*/
    /*        'sidebar content content'*/
    /*        'footer footer footer';*/
    grid-template-areas: 'content';
}

.transition-container {
    grid-area: content;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
}

/*
fade-appear, fade-appear-active, fade-appear-done
fade-enter, fade-enter-active, fade-enter-done
fade-exit, fade-exit-active, fade-exit-done
*/

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity var(--transition-speed);
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity var(--transition-speed);
}

/* Slide Transition */

.slide-enter {
    transform: translateX(100%);
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform var(--transition-speed);
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: transform var(--transition-speed);
}

/* Mixed */

.mixed-enter {
    transform: translateX(100%);
}

.mixed-enter-active {
    transform: translateX(0);
    transition: transform var(--transition-speed);
}

.mixed-exit {
    opacity: 1;
}

.mixed-exit-active {
    opacity: 0;
    transition: opacity var(--transition-speed);
}